html,body{
	background-image: url('img5.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height:auto;
	font-family: 'Numans', sans-serif;
	}
	.navbar{
		background-color: rgb(107, 57, 57);
	}
	
	.navbar .navbar-link{
		
		font-size: 20px;
		text-transform: uppercase;
		padding-left: 16px;
		padding-right: 16px;
	}
	
	.navbar-toggler{
		outline: none!important;
	}
.container{
	height: 100%;
	align-content: center;
	width: fit-content;
}
.mb-3 {
	color: whitesmoke;
	margin-left: 20px;
}
.card{
	height: fit-content;
	margin-top: auto;
	margin-bottom: auto;
	width: fit-content ;
	background-color:rgba(0,0,0,0.5) ;
	}
.card-header h3{
	color:palevioletred;
	}
.form-label{
	color: palevioletred;
}
.form-check{
	margin-left: 20px;
}
.form-check-label{
	color: palevioletred;
}
.form-text-muted-label{
	color:#f7fbff;
}


.row gy-3{
	margin-left: 20px;
}
.col-md-6{
	margin-left: 20px;
}
.col-md-3{
	margin-left: 20px;
}

.form-label-text-muted{
	color:#ffffff
}


footer {
    background-color:gray; 
    width: 100%;
    text-align: left;
    font:italic 17px Helvetica;
    padding: 55px 50px;
    margin-top: 50px;
    bottom: 0;
}

.footer-navigation h3 a {
    margin-top: 2px;
    font: normal 36px arial;
    margin-bottom: 20px;
    color: yellow;
  }


.footer-navigation p.links a {
    color: black;
  
}

.fa.footer-contacts-icon {

    color:black;
    font-size: 18px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 38px;
    margin: 10px 15px 10px 0;
   position: relative; left: 780px; top: -60px;
}


/*-----------------------*/

.footer-48201 h3 a{
    
    margin-top: 2px;
    font: normal 36px arial;
    margin-bottom: 20px;
    color: yellow;
}

.cart-image{
    background-image: url("NYX concealer.jpg");
    
}



